<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.ggg.messager">

    <application>
        <activity android:name=".client.MessengerClientActivity" />
        <service
                android:name=".service.MessengerService"
                android:exported="true"
                android:process=":messenger">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.ggg.messager.MessengerService" />
            </intent-filter>
        </service>
    </application>

</manifest>